!!!
%html
  %head
    %title Switchboard Dashboard
    = stylesheet_link_tag    'application'
    = stylesheet_link_tag    '/pivotal-ui/pivotal-ui.min.css'
    = javascript_include_tag 'application'
    = javascript_include_tag '/pivotal-ui/pivotal-ui.min.js'
    = csrf_meta_tags
  %body
    .main.container-fluid.pvm.bg-dark-1
      .container.pvn.mvn
        .media
          %a.media-left{:href => "#"}
            = image_tag "switchboard-header-logo.png"
          .media-body
            %h1.h3.man.pts.type-neutral-8 Pivotal Switchboard
    .container
      = yield
